.fuel-name{
	clear: left;
	padding: .2em 0;
}
.fuel-economy-fuel {
	display: grid;
	grid-template-columns: 5.5em 4em 25% 25%;
	grid-template-rows: 99% 2em;
	min-width: 280px;
	max-width: 45%;
	float: left;
}
.fuel-economy-highway,
.fuel-economy-city{
	vertical-align: bottom;
}
.fuel-economy-combined,
.fuel-economy-city,
.fuel-economy-highway,
.fuel-economy-fuel .mpg{
	font-weight: bold;
	font-size: 150%;
}
.fuel-economy-fuel tr.context td{
	font-size: 90%;
}
.fuel-economy-combined,
.fuel-economy-city,
.fuel-economy-fuel tr.context td,
.fuel-economy-fuel .mpg{
	text-align: center;
}
.fuel-economy-combined{
	font-size: 450%;
	line-height: 95%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.fuel-economy-combined-label{
	grid-column-start: 1;
	grid-column-end: 2;
}
.fuel-economy-fuel .mpg{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
svg.fuel-pump,
.fuel-pump-img{
	width: 55px;
	height: 50px;
	margin: 0 auto;
}
.fuel-economy-city,
.fuel-economy-city-label{
	grid-column-start: 3;
	grid-column-end: 4;
}
.fuel-economy-highway,
.fuel-economy-highway-label{
	grid-column-start: 4;
	grid-column-end: 5;
}
.fuel-economy-city,
.fuel-economy-highway{
	position: relative;
	grid-row-start: 1;
	grid-row-end: 2;
}
.fuel-economy-combined-label,
.fuel-economy-city-label,
.fuel-economy-highway-label{
	text-align: center;
	grid-row-start: 2;
	grid-row-end: 3;
}
.fuel-economy-highway-label{
	text-align: left;
}
.fuel-economy-city span,
.fuel-economy-highway span{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
}
/* Annual stats */
dl.fuel-economy-annual-stats{
	display: inline-block;
	min-width: 280px;
	max-width: 50%;
	padding-left: 3em;
	margin: 0;
	width: 99%;
}
dl.fuel-economy-annual-stats dt{
	float: left;
	clear: left;
	width: 23em;
	max-width: 100%;
}
dl.fuel-economy-annual-stats dd{
	font-weight: bold;
	float: left;
	margin: 0;
}
dl.fuel-economy-annual-stats dt,
dl.fuel-economy-annual-stats dd{
	margin-bottom: .5em;
}