.options-list {
	display: table;
	margin-bottom: .5em;
}

.options-list .item {
	display: table-row;
}

.options-list .item > div {
	display: table-cell;
	padding: 0 0 8px;
}

.options-list .item .label {
	text-transform: uppercase;
	font-size: 80%;
	vertical-align: center;
}

.options-list .item div + div {
	padding-left: 12px;
}